body {
    padding:0;
    margin:0;  
}

.item {
    color: white;
    align-items:center;
    justify-items:center;
}

.top {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr ;
    height:50px;
    margin-left:3px;
    margin-right:3px;
    margin-bottom:8px;
}

.container1{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    justify-content:space-around;
    gap:10px;
    margin:3px;
}

.logo {
    background-color:blue;
    grid-column: 1/2;
}

.busca {
    background-color:red;
    grid-column:2/4;
}

.post {
    background-color:gray;
    grid-column:4/5;
}

.content1 {
    background-color:green;
    grid-column:1/2;
    height:400px;
}

.meio {
    grid-column:2/5;
}

.menu {
    background-color:yellow;
    height:50px;
}

.content2 {
    background-color:black;
    height:auto;
    height:200px;
}

.content3 {
    background-color:purple;
    grid-column:5/6;
    height: 150px;
}