body {
    padding:0;
    margin:0;  
}

.item {
    color: white;
    text-align:center;
    justify-items:center;
}

.top {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr ;
    height:50px;
    justify-content:space-around;
    gap:10px;
}
.container1{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    height:;
    justify-content:space-around;
    gap:10px;
}

.logo {
    background-color:blue;
    grid-column: 1/2;
}

.busca {
    background-color:red;
    grid-column:2/4;
}

.post {
    background-color:gray;
    grid-column:4/5;
}

.content1 {
    background-color:green;
    grid-column:1/2;
    
}

.meio {
    grid-column:2/4;
}

.menu {
    background-color:yellow;
    height:50px;

}

.content2 {
    background-color:black;
    height:auto;

}

.content3 {
    background-color:purple;
    grid-column:4/5;
}