body {
    margin:0;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:60px 1fr;
}

header {
    background:orange;
    height:60px;
    width:100%;
    display:flex;
    padding:0;
    justify-content: space-between;
    align-items:center;
}

.logo h1, .buscar {
    font-family: arial;
    margin:10px;
}

nav {
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
}

#menu {
    list-style-type: none;
    margin: 5px;
    padding: 20px;
    font-size:22px;
}

a {
    text-decoration: none;
}
section  {
    grid-column:2/-1;
    display:grid;
    grid-template-columns:repeat(4,25%);
    grid-template-rows:auto ;
    margin:10px;
    padding:0;
    justify-items: center;
}

img {
    width:180px;
    height:180px;
}

.media{
    background:white;
    width:180px;
    height:210px;
    border-style: solid;
    border-color: green;
    border-width:2px;    
}

video {
    width:800px;
}

.minimedia{
    grid-column:-1/-2;
}

.minimedia .media {
    margin:10px;
    width:60px;
    height:60px;
}

footer {
    background:gray;
    width:100%;
    height:60px;   
    font-size:25px;
    font-family: arial;
    display:flex;
    padding:0;
    justify-content: left;
    align-items:center;
}

footer h3 {
    color:white;
    margin:10px;
}