body {
    margin:0;
    padding:0;
}

#fullscreen {
    display:grid;
    grid-template-columns:1fr 4fr;
}

.menu {
    margin:0;
    background:burlywood;
    position:fixed;
    width:20%;
    height:100%;
}

.ref_direita {
    grid-column: 2/-1;
}

#header {
    background:red;
    height: 60px;
    width: 100%;
    top:0;
    color: white;
}

#firstblock {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-gap:20px;
    margin:10px 50px 20px 50px;
}

.azul1, .azul4 {
    background:blue;
    color:white;
    border-color:crimson;
    height:160px;
    border-style:solid;
    border-width: 2px;
}

.amarelo2, .amarelo5 {
    background:yellow;
    color:white;
    border-color:crimson;
    border-style:solid;
    border-width: 2px;
}

.verde3, .verde6 {
    background:green;
    color:white;
    border-color:crimson;
    border-style:solid;
    border-width: 2px;
}

#secondblock {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
    margin:0 50px 20px 50px;
}

#thirdblock {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:20px;
    padding:0 50px 10px 50px;
}

.preto7, .preto8 {
    background:black;
    height:400px;
    color:white;
    border-color:crimson;
    border-style:solid;
    border-width: 2px;
}

.branco9, .branco10, .branco11 {
    background:white;
    color:black;
    height:120px;
    border-style:solid;
    border-width:2px;
}